.FormContainer {
  background-color: var(--brown-200);
  padding: var(--spacing-md);
  max-width: var(--break-sm);
  margin: 0 auto;
  border-radius: var(--radius-md);
}

.Form {
  display: flex;
  gap: var(--spacing-xxs);
}

.Form label {
  width: 100%;
}

.Form input {
  width: 100%;
}